@model CreateRoleViewModel

<div class="container text-nowrap">
	<h1>Create Role</h1>
	<hr />
	<form method="post" asp-controller="Administration" asp-action="CreateRole">

		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="form-group">
			<label asp-for="RoleName" class=".col-form-label col-md-2 h5"></label>
			<div class="col-md-10">
				<input asp-for="RoleName" class="form-control" />
				<span asp-validation-for="RoleName" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<input type="submit" value="Create Role" class="btn btn-primary" />
				<a asp-controller="Administration" asp-action="ListRoles" class="btn btn-primary">Cancel</a>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	<environment include="Development">
		<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
		<script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	</environment>
}
