
@{
	ViewData["Title"] = "AccessDenied";
}

<div class="text-danger">
	<h1 class="text-danger">Access Denied</h1>
	<h6 class="text-danger">You do not have permission to view this resource</h6>
	<img src="~/images/accessdenied.gif" style="height: 300px; width: 300px;" alt="access denied"/>
</div>
