@model LoginViewModel

<div class="container text-nowrap">
	<h4 class="display-4">User Login</h4>
	<hr />
	<form method="post" asp-action="Login" asp-controller="Account">
		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="form-group">
			<label asp-for="EmailAddress" class=".col-form-label col-md-2 h5"></label>
			<div class="col-md-10">
				<input asp-for="EmailAddress" class="form-control" />
				<span asp-validation-for="EmailAddress" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="Password" class=".col-form-label col-md-2 h5"></label>
			<div class="col-md-10">
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<div class="custom-checkbox">
				<label asp-for="RememberMe">
					<input asp-for="RememberMe" />
					@Html.DisplayNameFor(m => m.RememberMe)
				</label>
			</div>
		</div>

		@Html.EditorFor(m => m.ReturnUrl)

		<div class="form-group">
			<div class="col-md-12">
				<input type="submit" value="Login" class="btn btn-primary" />
			</div>
		</div>
	</form>
</div>

<div class="btn-link">
	@Html.ActionLink("Back to Home", "Index", "Home")
</div>

@section Scripts {

	<environment include="Development">
		<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
		<script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	</environment>
}
