<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<environment include="Development">
		<title>Sokool.Net - @ViewData["Title"] (Dev)</title>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
	</environment>
	<environment exclude="Development">
		<title>Sokool.Net - @ViewData["Title"]</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
			  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			  crossorigin="anonymous" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
			  asp-fallback-href="~/lib/font-awesome/css/all.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
			  integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
			  crossorigin="anonymous">
	</environment>

	<link rel="stylesheet" href="~/css/site.css" />

	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<header>
		@{ await Html.RenderPartialAsync("_HeaderNavBar"); }
		@*<partial name="_HeaderNavBar" />*@
	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container justify-content-center text-center">
			&copy; @DateTime.Now.Year - Sokool.Net - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
		@*<custom-email my-email="support@sokool.net"></custom-email>*@
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/_site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
