<div class="container">
	<ul class="nav nav-tabs" id="videotab" role="tablist">
		<li class="nav-item ">
			<a class="nav-link text-dark" asp-area="" asp-controller="Videos" asp-action="Index" asp-route-vf="across">Across the Universe</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Videos" asp-action="Index" asp-route-vf="music1" title="Music from the 1960's and 70's" >Music</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Videos" asp-action="Index" asp-route-vf="movies" title="Movies from the 1960's and 70's">Movies</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Videos" asp-action="Index" asp-route-vf="comm" title="Commercials from the 1960's and 70's">Commercials</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Videos" asp-action="Index" asp-route-vf="cartoon" title="Cartoons from the 1960's and 70's">Cartoons</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Videos" asp-action="Index" asp-route-vf="tv" title="Television from the 1960's and 70's">Television</a>
		</li>
	</ul>
</div>

